@{ ViewData["Title"] = "Home Page";}

<div class="container">
    <div class="card-deck">
        @foreach(var Country in Model) {
        <div class="col-xl-4 col-lg-5 col-md-6 pb-5">
            <div id="@Country.CountryCode" class="card h-100" style="">
                <img class="card-img-top" src="http://via.placeholder.com/350x150" alt="Card image cap">
                <div class="card-block" style="">
                    <h4 class="card-title text-center">
                        <a href="@Country.CountryName">@Country.CountryName</a>
                    </h4>
                    <ul>
                        <li>Country Code: @Country.CountryCode</li>
                        <li>Region: @Country.CountryRegion</li>
                        <li>Surface Area: @Country.SurfaceArea</li>
                    </ul>
                </div>
                <div class="card-footer h-100">
                    <small class="text-muted">
                        <ul>
                            @foreach(var lang in Country.ThisLangList) {
                            <li> @lang.CountryLang </li>}
                        </ul>
                            <form action="/delete/@Country.CountryName" method="post" id="delete"></form>
                            <button class="float-right btn btn-danger" type="submit" form="delete">X</button>
                    </small>
                </div>
            </div>
        </div>
        }
    </div>
    <script>
    var colList = ["#F44336", "#E91E63", "#9C27B0", "#673AB7", "#3F51B5", "#2196F3", "#03A9F4", "#00BCD4", "#009688",
        "#4CAF50", "#8BC34A", "#CDDC39", "#FFEB3B", "#FFC107", "#FF9800", "#FF5722"];
</script>

</div>